body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

#picker {
  margin: 3rem;
  width: calc(100% - 6rem);
}

#log {
  position: absolute;
  bottom: 0;
}
